.red {
    color: red;
}
table thead {
    background-color: #faebcc;
}
table thead th {
    text-align: center;
    vertical-align: middle;
}

table tr td {
    text-align: center;
    vertical-align: middle;
}

.circle {
    color: #ffffff;
    padding: 7px;
    border-radius: 100%;

}
.green {
    background: forestgreen ;
}
.red {
    background: red ;
}

.orange {
    background: darkorange ;
}

.blue {
    background: deepskyblue ;
}

li a span {
    font-size: 22px;
}

h1,h2,h3,h4,h5,h6 {
    color: #0087a6;
}

.darkgrey{
    color: rgba(168, 39, 8, 0.80);
}

.redtext {
    color:red;
}

.greentext {
    color:green;
}
